<project name="BuildConfig" xmlns:maven="urn:maven-ant">
  <!-- Get the root directory of the project by looking at the directory enclosing this file. -->
  <dirname property="rootdir" file="${ant.file.BuildConfig}"/>

  <!-- Set the current Whiley version -->
  <property name="version" value="0.6.0-SNAPSHOT"/>

  <!-- Load the Maven Ant tasks so that we can work with Maven repositories. -->
  <typedef uri="urn:maven-ant"
           classpath="${rootdir}/lib/maven-ant-tasks-2.1.3.jar"
           resource="org/apache/maven/artifact/ant/antlib.xml"/>

  <!-- Paths to common DIRs -->
  <property name="LIB_DIR" value="${rootdir}/lib/"/>
  <property name="RELEASE_DIR" value="${rootdir}/dist/wdk-v${version}/"/>

  <!-- Identify Local Dependencies -->
  <fileset id="local.dependencies" dir="${LIB_DIR}">
    <filename name="**/*.jar"/>
    <filename name="**/maven*" negate="True"/>
  </fileset>

  <maven:remoteRepository id="remote.repository" url="https://repo1.maven.org/maven2" />

  <!-- Identify Local Dependencies -->
  <maven:dependencies filesetId="remote.dependencies">
    <dependency groupId="org.whiley" artifactId="wycc" version="0.9.8"/>
    <dependency groupId="org.whiley" artifactId="wycli" version="0.9.8"/>
    <dependency groupId="org.whiley" artifactId="wyc" version="0.9.8"/> 
    <dependency groupId="org.whiley" artifactId="wyjs" version="0.9.5"/>
    <dependency groupId="org.whiley" artifactId="wyboogie" version="0.3.2"/>
    <dependency groupId="org.whiley" artifactId="jmodelgen" version="0.4.3"/>
    <dependency groupId="org.apache.httpcomponents" artifactId="httpclient" version="4.5.10"/>
    <remoteRepository refid="remote.repository" />
  </maven:dependencies>

</project>
